@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3d3d3d;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1264px;
    margin: 0 auto;
}

/* Insdustri */
.insdustri {
    padding-top: 150px;
    padding-bottom: 100px;
}

.insdustri .insdustri-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.insdustri .card {
    height: 170px;
}

.insdustri .insdustri-title {
    grid-column: 1 / span 2;
}

.insdustri .insdustri-title h1,
.insdustri .insdustri-title h3 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 800;
}

.insdustri .insdustri-title h1 {
    font-size: 40px;
}

.insdustri .insdustri-title h3 {
    font-size: 24px;
}

.insdustri .insdustri-title p {
    line-height: 30px;
}

.insdustri .insdustri-strip-body {
    margin-top: 20px;
    margin-bottom: 29px;
}

.insdustri .insdustri-strip {
    width: 35px;
    height: 5px;
    background-color: #f16522;
}

.insdustri .card-icon-title {
    border: 1px solid #e7eaed;
    text-align: center;
}

.insdustri .card-icon-title:hover {
    padding: 10px;
}

.insdustri .body-card-icon-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.insdustri .body-card-icon-title:hover {
    background-color: #f3f3f3;
}

.insdustri .card-icon-title a {
    color: #3d3d3d;
}

.insdustri .card-icon-title i {
    color: #b2b2b2;
}

.insdustri .card-icon-title h5 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 40px;
    font-weight: 800;
}

.insdustri .card-btn a {
    font-size: 13px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #f16522;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
}

/* Feature Marketing Guide */
.feature-marketing-guide {
    padding: 170px 0;
    background-color: #f1f1f1;
}

.feature-marketing-guide-body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.block-img {
    display: block;
    max-width: max-content;
    align-self: center;
    box-shadow: 20px 5px 10px rgba(0, 0, 0, 0.5);
}

.block-content {
    grid-column: 2 / span 4;
    align-self: center;
    max-width: 496px;
}

.block-content h1,
.block-content h3 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 800;
}

.block-content h1 {
    font-size: 40px;
}

.block-content h3 {
    font-size: 24px;
}

.insdustri-strip-body {
    margin-top: 20px;
    margin-bottom: 29px;
}

.insdustri-strip {
    width: 35px;
    height: 5px;
    background-color: #f16522;
}

.block-content p {
    font-size: 14px;
    line-height: 30px;
}

.btn-block-content {
    margin-top: 50px;
}

.btn-block-content a {
    font-size: 13px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 30px;
}

.btn:hover {
    transform: scale(0.98);
}

.btn-dark {
    background-color: #363636;
    color: white;
    border: 2px solid #363636;
}


.btn-outline {
    color: #f16522;
    border: 2px solid #f16522;
    margin-left: 20px;
}

/* Blog */
.blog {
    padding-top: 100px;
    padding-bottom: 100px;
}

.blog-title {
    text-align: center;
    max-width: 476px;
    margin-left: auto;
    margin-right: auto;
}

.blog-title h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: 2px;
}

.blog-title p {
    font-size: 14px;
    line-height: 30px;
}

.blog .insdustri-strip {
    margin-left: auto;
    margin-right: auto;
}

.blog-cards {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-title {
    margin-bottom: 15px;
    text-align: center;
}

.card-title img {
    width: 100%;
}

.card-body-title h5 {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.card-body-title p {
    color: #8e8e8e;
    line-height: 30px;
}

.blog-strip {
    margin: 20px 0;
}

.card-strip {
    width: 30px;
    height: 4px;
    background-color: #f16522;
}

.card-body-text {
    margin-bottom: 20px;
}

.card-body-text p {
    line-height: 24px;
}

.card-link a {
    color: #f16522;
}

.card-link a:hover {
    border-bottom: 1px solid #3d3d3d;
}

.other-cards {
    text-align: center;
}

.link-other-card a {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    color: #3d3d3d;
    letter-spacing: 1px;
}

.link-other-card a:hover {
    border-bottom: 1px solid #f16522;
    letter-spacing: 2px;
}

/* Footer */
.footer {
    background-color: #e7eaed;
    padding: 40px 0;
}

.footer h3 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
}

.footer p {
    font-size: 12px;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer .footer-logo h3 {
    font-size: 24px;
}

.footer .footer-logo p {
    line-height: 30px;
}

.footer .footer-logo a {
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
    color: #f16522;
}

.footer .footer-logo a:hover {
    border-bottom: 1px solid #3d3d3d;
}

.footer .footer-address p,
.footer .footer-telephone p {
    line-height: 24px;
}

.footer .input-group-email {
    margin: 15px 0;
    display: flex;
}

.footer .input-group-email input {
    padding: 8px 10px;
    width: 100%;
    border: 0;
    border-radius: 5px 0 0 5px;
}

.footer .input-group-email input:focus {
    outline: none;
}

.footer .input-group-email input::placeholder {
    color: #c4c4c4;
}

.footer .input-group-email button {
    border: 0;
    border-radius: 0 5px 5px 0;
    background-color: white;
    padding: 8px 10px;
    cursor: pointer;
}

/* Our Clients */
.our-clients {
    padding: 20px 0;
}

.our-clients .body-our-clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-clients .our-clients-title h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 800;
}

.our-clients .our-clients-title a {
    font-size: 13px;
    line-height: 21px;
    color: #f16522;
}

.our-clients .our-clients-title a:hover {
    border-bottom: 1px solid #f16522;
}

.our-clients .card-img img {
    max-width: 100%;
    filter: opacity(0.4);
}

.abouts {
    min-height: 681px;
    background-image: url('../images/bg-abouts.jpg');
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f8f8f8;
    border-top: 1px solid #e7eaed;
    border-bottom: 1px solid #e7eaed;
}
.abouts .container {
    position: relative;
}
.abouts .body-abouts {
    max-width: 594px;
    min-height: 681px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
}

.abouts .body-abouts h1 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
}

.abouts .body-abouts h3 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 40px;
    font-weight: 700;
}

.abouts .body-abouts p {
    line-height: 30px;
    margin-bottom: 30px;
}

.abouts .strip-abouts-body {
    margin: 20px 0;
}

.abouts .strip-abouts {
    width: 35px;
    height: 5px;
    background-color: #f16522;
}

.abouts .btn-abouts {
    background-color: #363636;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 40px;
    letter-spacing: 3px;
    display: inline-block;
}

.abouts .btn-abouts:hover {
    transform: scale(0.98);
}

/* Sevices */
.services .body-services {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.services .services-title {
    min-width: 482px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    align-self: center;
}

.services .services-title h1 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 800;
    font-size: 40px;
}

.services .services-title h3 {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 700;
    font-size: 24px;
}

.services .services-title p {
    line-height: 30px;
    margin-bottom: 30px;
}

.services .body-services-strip {
    margin-top: 15px;
    margin-bottom: 20px;
}

.services .services-strip {
    width: 35px;
    height: 5px;
    background-color: #f16522;
}

.services .btn-services {
    background-color: #363636;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 40px;
    letter-spacing: 3px;
    display: inline-block;
}

.services .btn-services:hover {
    transform: scale(0.98);
}

.services .services-cards {
    border-left: 1px solid #e7eaed;
    border-right: 1px solid #e7eaed;
}

.services .services-card {
    min-width: 350px;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services .services-card i {
    color: #f16522;
    margin-bottom: 10px;
}

.services .services-card p {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 40px;
}

.services .card-1 {
    border-left: 1px solid #e7eaed;
    border-bottom: 1px solid #e7eaed;
}
.services .card-2 {
    border-left: 1px solid #e7eaed;
    border-right: 1px solid #e7eaed;
    border-bottom: 1px solid #e7eaed;
}
.services .card-3 {
    border-left: 1px solid #e7eaed;
}
.services .card-4 {
    border-left: 1px solid #e7eaed;
    border-right: 1px solid #e7eaed;
}

/* Works */
.works {
    height: 800px;
    padding: 100px 0;
    background-color: #28282e;
    position: relative;
}

.works .container {

}
.works .body-works {
    position: relative;
    height: 100%;
}

.works img{
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    object-fit: cover;
}

.works .works-title {
    max-width: 603px;
    margin: 0 auto;
    text-align: center;
}

.works .works-title h1 {
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 3px;
    color: #fff;
    text-transform: uppercase;
}

.works .works-title p {
    color: #878796;
    line-height: 30px;
}

.works .body-works-strip {
    margin: 20px 0;
}
.works .works-strip {
    margin: 0 auto;
    width: 35px;
    height: 5px;
    background-color: #f16522;
}

.works .works-content {
    max-width: 568px;
    position: absolute;
    right: 0;
    margin-top: 100px;
}

.works .works-content h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 34px;
    line-height: 40px;
    color: #fff;
}

.works .works-content p {
    margin: 20px 0;
    color: #878796;
    line-height: 30px;
}

.works .body-dotted-line {
    margin-bottom: 10px;
}

.works .dotted-line {
    border-bottom: 2px dashed #42424a;
}

.works .works-content td {
    color: #878796;
    line-height: 30px;
    padding: 5px 25px 5px 0px;
}

.works .works-content a {
    color: #f16522;
}

.works .works-content a:hover {
    border-bottom: 1px solid #f16522;
}

/* Media */
@media(max-width: 1275px) {
    .container {
        padding: 20px;
    }

    .insdustri .insdustri-body {
        gap: 20px;
    }

    .insdustri .insdustri-title p {
        line-height: 20px;
        margin-bottom: 5px;
    }
}

@media(max-width: 920px) {
    .insdustri .insdustri-body {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    /* Feature Marketing Guide */
    .feature-marketing-guide {
        padding: 75px 0;
    }

    .feature-marketing-guide-body {
        grid-template-columns: 1fr;
        gap: 50px;
        text-align: center;
    }

    .block-img {
        justify-self: center;
    }

    .block-content {
        grid-column: 1;
        justify-self: center;
    }

    .feature-marketing-guide .insdustri-strip {
        margin-left: auto;
        margin-right: auto;
    }

    .blog-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 768px) {
    .container {
        padding: 15px;
    }

    /* Insdustri */
    .insdustri {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    .insdustri .insdustri-body {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .insdustri .insdustri-title {
        grid-column: 1;
        margin-bottom: 5px;
    }

    /* Blog */
    .blog {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .blog-cards {
        margin: 20px 0;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card-link {
        margin-bottom: 20px;
    }

    .card-blog {
        border-bottom: 1px solid #8e8e8e;
    }
}